#radio{
    text-align: center;
    align-self: auto;
}

.form-group
{
	display: block;
	text-align: left;
}
.error
{
   border: 1px solid red;
}

.forms-group
{
	justify-content: space-evenly;
	align-self: auto;
}